---
const { frontmatter } = Astro.props;
const { titulo, descripcion, tiempo, dificultad, raciones, imagen } = frontmatter;
import MainLayout from "./MainLayout.astro";

import { Icon } from 'astro-icon/components';
---

<MainLayout title={titulo} descripcion={descripcion}>
  <div class="space-y-8">
    <!-- Contenedor para el título, descripción e imagen -->
    <div class="flex flex-col lg:flex-row items-center lg:items-start lg:justify-between lg:space-x-8">
      
      <!-- Título y descripción de la receta -->
      <div class="text-center lg:text-left lg:max-w-[50%]">
        <h1 class="text-4xl font-bold">{titulo}</h1>
        <p class="text-muted-foreground mt-2">{descripcion}</p>
      </div>
      
      <!-- Imagen de la receta -->
      <div class="w-full lg:w-[50%] mt-4 lg:mt-0 max-w-96">
        <img
          src={imagen}
          alt={titulo}
          class="rounded-lg w-full h-auto lg:h-full lg:object-cover"
        />
      </div>
    </div>
    
    <!-- Información general: tiempo, raciones, dificultad -->
    <div class="w-full p-2 flex flex-col  gap-2 justify-between md:flex-row roudned-lg shadow bg-neutral-100">
      <div class="flex items-center gap-2">
        <Icon name="clock" size={20} />
        <p class="text-muted-foreground">Tiempo: {tiempo}</p>
      </div>
      <div class="flex items-center gap-2">
        <Icon name="person" size={20} />
        <p class="text-muted-foreground">Raciones: {raciones}</p>
      </div>
      <div class="flex items-center gap-2">
        <!-- Estilo de dificultad basado en el nivel -->
        <span class={
          dificultad === "Fácil" ? 
          "bg-green-100 text-green-800 text-sm font-bold me-2 px-2.5 py-0.5 rounded" 
          : dificultad === "Medio" ? 
          "bg-yellow-100 text-yellow-800 text-sm font-bold me-2 px-2.5 py-0.5 rounded " 
          : 
          "bg-red-100 text-red-800 text-sm font-bold me-2 px-2.5 py-0.5 rounded"
        }>
          {dificultad}
        </span>
      </div>
    </div>

    <!-- Contenido de la receta -->
    <div class="markdown-content post-content max-w-5xl mx-auto w-[90%]">
      <div class="content flex gap-b-1 flex-col text-balance mx-auto">
        <slot />
      </div>
    </div>
  </div>
</MainLayout>

<style is:global>
  .content h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #2d3748;
    margin-bottom: 1rem;
  }

  .content ul {
    list-style-type: disc;
    padding-left: 1.25rem;
    margin-bottom: 1rem;
  }

  .content ul li {
    margin-bottom: 0.5rem;
  }

  .content ol {
    list-style-type: decimal;
    padding-left: 1.25rem;
    margin-bottom: 1rem;
  }

  .content ol li {
    margin-bottom: 0.5rem;
  }

  .content p {
    color: #4a5568;
    margin-bottom: 1rem;
  }
</style>